<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klinik</title>

    <!-- fav icon -->
    <link rel="shortcut icon" href="http://localhost/klinik/assets/images/favicon.ico" type="image/ico" />

    <!-- Iconos Bootstrap (Pruebas) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- jquery -->
    <script src="http://localhost/klinik/assets/jquery/jquery-3.7.1.min.js" type="text/javascript"></script>
            <!-- popper -->
            <!-- <script src="http://localhost/klinik/assets/poper/popper.min.js"        type="text/javascript" defer></script> -->
            <!-- bootstrap -->
            <!-- <script src="http://localhost/klinik/assets/b5/js/bootstrap.min.js"     type="text/javascript" defer></script> -->
    <script src="http://localhost/klinik/assets/b5/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <!-- sweetalert js -->
    <script src="http://localhost/klinik/assets/sw2/sweetalert2.all.min.js" type="text/javascript"></script>
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Helpers Javascript -->
    <script src="http://localhost/klinik/app/funciones.js"                       type="text/javascript"></script> 
    <script src="http://localhost/klinik/app/config.js"                          type="text/javascript"></script>
    
    <!-- Providers Javascript -->
    <script src="http://localhost/klinik/app/providers/userprovider.js"          type="text/javascript"></script> 
    <script src="http://localhost/klinik/app/providers/doctorprovider.js"        type="text/javascript"></script> 
    <script src="http://localhost/klinik/app/providers/pacientesprovider.js"     type="text/javascript"></script> 
    <script src="http://localhost/klinik/app/providers/plantillasprovider.js"    type="text/javascript"></script>
    <script src="http://localhost/klinik/app/providers/localdatabaseprovider.js" type="text/javascript"></script> 

    <!-- Aplicación Javascript -->
    <script src="http://localhost/klinik/app/Principal.js"                       type="text/javascript"></script>
    <script src="http://localhost/klinik/app/main.js"                            type="text/javascript"></script>
    <!-- <script src="http://localhost/klinik/app/main.js"                       type="module"></script> -->
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- bootstrap css -->
    <link rel="stylesheet" href="http://localhost/klinik/assets/b5/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="http://localhost/klinik/assets/font-awesome/fontawesome651web/css/all.min.css">
    <!-- sweetalert css -->
    <link rel="stylesheet" href="http://localhost/klinik/assets/sw2/css/sweetalert2.min.css">
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- aplicación -->
    <link rel="stylesheet" href="http://localhost/klinik/assets/css/styles.css">
    <link rel="stylesheet" href="http://localhost/klinik/assets/css/estilos/medicos/estilosmedico.css"> <!-- Estilos páginas atención médica -->
    <link rel="stylesheet" href="http://localhost/klinik/assets/css/estilos/plantillas/estilosplantilla.css"> <!-- Estilos para vista de plantillas de historia clínica -->
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

</head>
<body>
