<div class="container-fluid h-100">
    <div class="row h-100">

        <!-- Menú superior -->
        <header class="col-12 header text-white p-3 d-flex align-items-center justify-content-between">    

            <a class="navbar-brand" href="#">
                <b> <img src="http://localhost/klinik/assets/images/Caduceus_40px.png" alt="homepage" /> </b>
                <span class="titulos">Sistema de Gesti&oacute;n M&eacute;dica</span> 
            </a>

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            
                            <!-- Menú File -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white mx-3 text-decoration-none" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuario
                                </a>
                                <ul class="dropdown-menu mr-auto" aria-labelledby="userMenu">
                                    <li><a class="dropdown-item" href="#">Foto</a></li>
                                    <li><a class="dropdown-item" href="#">Nombre</a></li>
                                    <a href="#" class="dropdown-item" onclick="sessionClose()">Cerrar sesi&oacute;n</a>
                                </ul>
                            </li>

                            <!-- Opción Inicio -->
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white mx-3 text-decoration-none">Inicio</a>
                            </li>
                             
                            <!-- OPCIONES ADICIONALES PARA MENU PRINCIPAL
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userMenu">
                                    <li><a class="dropdown-item" href="#">Opción 1</a></li>
                                    <li><a class="dropdown-item" href="#">Opción 2</a></li>
                                    <li><a class="dropdown-item" href="#">Opción 3</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="toolsMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tools
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="toolsMenu">
                                    <li><a class="dropdown-item" href="#">Opción 1</a></li>
                                    <li><a class="dropdown-item" href="#">Opción 2</a></li>
                                    <li><a class="dropdown-item" href="#">Opción 3</a></li>
                                </ul>
                            </li> -->

                        </ul>
                    </div>
                </div>
            </nav>

            <button class="btn btn-light d-md-none" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
                ☰ <!-- <span class="navbar-toggler-icon"></span> --> 
            </button>

        </header>
        <!-- End Menú superior -->
