        <!-- Barra lateral -->

        <aside class="col-2 sidebar d-none d-md-block border-end">
            <nav class="nav flex-column p-3">

                <a class="nav-link" href="#">
                    <img src="http://localhost/klinik/assets/images/users/default.png" alt="user" class="img-fluid rounded" style="width: 50%;" />
                    <br>
                    <span class="hide-menu" id="nombre-medico"></span>
                    <!-- <label id="nombre-medico"></label> -->
                </a>

                <a class="nav-link" href="#">
                    <!-- <i class="ml-2 fa-solid fa-user-doctor" style="color:#FFFFFF;"> -->
                    <!-- <i class="ml-2 fa-solid fa-user-doctor"></i> -->
                    <i class="fa-duotone fa-solid fa-gauge"></i>
                    <span>Panel Principal</span>
                </a>

                <a class="nav-link" href="/klinik/index.php?url=Medicos/agendamedica">
                    <i class="fa-solid fa-calendar-days" mr-2></i>
                    <span>Agenda m&eacute;dica</span>
                </a>

                <a class="nav-link" href="#">
                    <i class="fa-solid fa-file-contract"></i>
                    <span>Reportes</span>
                </a>

            </nav>
        </aside>

        <!-- End barra lateral -->
