            <main class="col main-content">
            
                <!-- Start Page Content -->
        
                <div class="row">
                    
                    <!-- OPCION AGENDA MEDICA -->
                    <div class="col-lg-4 col-sm-6" style="width: 170px;">
                        <!-- <div class="card card-inverse" style="background-color: #24a0ed; border-color: #24a0ed;"> -->
                        <div class="card mb-3" style="background-color: #f8f9fa;">    
                            <div class="card-body">
                                <center>
                                    <span class="card-title" style="color:rgb(0, 123, 255);"><h6>Agenda M&eacute;dica</h6></span>
                                    <i class="fa-solid fa-user-doctor fa-3x" style="color:#d47400;"></i>
                                    <br>
                                    <br>
                                    <!-- <a href="/genesys/system/Clientes/clientes" class="btn btn-primary"> -->
                                    <a href="/klinik/index.php?url=Medicos/agendamedica" class="btn btn-primary">    
                                        Ir al sitio
                                    </a> 
                                </center>
                            </div>
                        </div>
                    </div>

                    <!--
                    <div class="col s5 m3" style="width: 170px;">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <center>
                                    <span class="card-title"><h6>Clientes</h6></span>
                                    <a href="/genesys/system/Clientes/clientes">
                                        <i class="fas fa-user-friends fa-3x" style="color:#FFFFFF;"></i>
                                    </a>  
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col s5 m3" style="width: 170px;">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <center>
                                    <span class="card-title"><h6>Proveedores</h6></span>
                                    <a href="/genesys/system/Proveedores/proveedores">
                                        <i class="fas fa-truck fa-3x" style="color:#FFFFFF;"></i>
                                    </a>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col s5 m3" style="width: 170px;">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <center>
                                    <span class="card-title"><h6>Compras</h6></span>
                                    <a href="/genesys/system/Compras/productos">
                                        <i class="fas fa-dolly fa-3x" style="color:#FFFFFF;"></i>
                                    </a>
                                </center>
                            </div>
                        </div>
                    </div> -->
                    <!-- <img class="responsive" src="../../resources/images/iconos/Proveedores.png" /> -->
                    <!-- <div class="card card-inverse" style="background-color: #00BCE3; border-color: #333;"> -->
                    <!-- <a href="#" class="btn btn-primary">Ir al sitio<i class="ml-2 fa fa-arrow-circle-right"></i></a> -->

                </div> 

                <!-- End PAge Content -->

            </main>

        <!-- Divs abiertos en menusuperior.html -->    
        </div>
    </div>

</body>
</html>
